# Note to security: This is not used in any environment, only locally for development purposes.
services:
  fact-data-api:
    build: .
    ports:
      - "8989:8989"
    depends_on:
      - fact-database
    environment:
      - DB_HOST=fact-database
      - DB_PORT=5432
      - DB_NAME=fact
      - DB_USER=fact
      - DB_PASSWORD=fact
      - AZURE_TENANT_ID=${AZURE_TENANT_ID}
      - AZURE_STORAGE_ACCOUNT_NAME=${AZURE_STORAGE_ACCOUNT_NAME}
      - AZURE_STORAGE_CONNECTION_STRING=${AZURE_STORAGE_CONNECTION_STRING}
      - TESTING_SUPPORT_ENABLE_API=${TESTING_SUPPORT_ENABLE_API}
      - OS_KEY=${OS_KEY}
  fact-database:
    image: hmctspublic.azurecr.io/imported/postgres:16-alpine
    environment:
      POSTGRES_DB: fact
      POSTGRES_USER: fact
      POSTGRES_PASSWORD: fact
    ports:
      - "5999:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d:ro
volumes:
  db-data:
